{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <div>
    <h1>{{name}}</h1>
    <h3>Users:</h3>
    <ul>
      {{#each users}}
        <li>
          <p>Id: {{id}}</p>
          <p>Name: {{name}}</p>
          <p>Gender: {{gender}}</p>
          <p>Age: {{age}}</p>
        </li>

        <ul>
          {{#each friends}}
            <li>
              <p>Friends:</p>
              <p>Id: {{id}}</p>
              <p>Name: {{name}}</p>
              <p>Gender: {{gender}}</p>
              <p>Age: {{age}}</p>
            </li>
            <br />

            <ul>
              {{#each mutual_friends}}
                <li>
                  <p>Mutual friends:</p>
                  <p>Id: {{id}}</p>
                  <p>Name: {{name}}</p>
                  <p>Gender: {{gender}}</p>
                  <p>Age: {{age}}</p>

                  <ul>
                    {{#each mutual_friends}}
                      <li>
                        <p>Mutual friends:</p>
                        <p>Id: {{id}}</p>
                        <p>Name: {{name}}</p>
                        <p>Gender: {{gender}}</p>
                        <p>Age: {{age}}</p>
                      </li>
                    {{/each}}
                  </ul>

                </li>
              {{/each}}
            </ul>

            {{#each groups}}
              <h4>Groups:</h4>
              <ul>
                <li>
                  <p>Id: {{id}}</p>
                  <p>Name: {{name}}</p>
                  <p>Description: {{description}}</p>
                  <p>Members:</p>
                  <ul>
                    {{#each members}}
                      <li>ID: {{id}}</li>
                      <li>Name: {{name}}</li>
                      <li>Gender: {{gender}}</li>
                      <li>Age: {{age}}</li>
                    {{/each}}
                  </ul>
                </li>
              </ul>
            {{/each}}

          {{/each}}
        </ul>
        <br />

        <ul>
          {{#each groups}}
            <h4>Groups:</h4>
            <p>Id: {{id}}</p>
            <p>Name: {{name}}</p>
            <p>Description: {{description}}</p>
            <p>Members:</p>
            <ul>
              {{#each members}}
                <li>ID: {{id}}</li>
                <li>Name: {{name}}</li>
                <li>Gender: {{gender}}</li>
                <li>Age: {{age}}</li>
              {{/each}}
            </ul>
          {{/each}}
        </ul>

        <br />

      {{/each}}</ul>

  </div>
</div>
{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}