<div>
  <div>
    {{#with page_header}}
      <h1>{{title}}</h1>
      <p>{{description}}</p>
    {{/with}}
    <div class='card'>
      <div class='card-body'>
        {{#with section}}
          {{#with about_us}}
            {{#with title_list}}
              <div class='display-6 text-end'>{{main}}</div>
              <br />
              <h2 class='text-end'>{{sub}}</h2>
              <br />

            {{/with}}
            <div class='btn btn-outline-info'>
              {{#with button}}
                {{text}}
              {{/with}}
            </div>
          {{/with}}
        {{/with}}
      </div>
    </div>
    <br />
    <br />

    <div class='card'>
      <div class='card-body'>
        {{#with section.advantage}}
          <div class='display-5'>{{title}}</div>
          <br />
          <div class='card'>
            <div class='card-body'>
              {{#with efficiency}}
                <div class='display-4'>{{title}}</div>
                <br />
                <h6>{{sub_title}}</h6>
                <br />
                <p>{{description}}</p>
                <div class='btn btn-outline-warning'>
                  {{button}}</div>
                <br />
              {{/with}}
            </div>
          </div>
          <br />
          <div class='card'>
            <div class='card-body'>
              {{#with innovation}}
                <div
                  class='display-4 text-center'
                >{{title}}</div>
                <br />
                <h6 class='text-center'>{{sub_title}}</h6>
                <br />
                <p class='text-center'>{{description}}</p>
                <div
                  class='btn btn-outline-warning'
                >{{button}}</div>
                <br />
              {{/with}}
            </div>
          </div>
          <br />
          <div class='card'>
            <div class='card-body'>
              {{#with collaboration}}
                <div
                  class='display-4 text-end'
                >{{title}}</div>
                <br />
                <h6 class='text-end'>{{sub_title}}</h6>
                <br />
                <p class='text-end'>{{description}}</p>
                <div
                  class='btn btn-outline-warning'
                >{{button}}</div>
                <br />
              {{/with}}
            </div>
          </div>

        {{/with}}
      </div>
    </div>
    <br />
    <div class='card'>
      {{#with section.agreement}}
        <div class='display-5'>{{title}}</div>
        <br />
        <div class='card'>
          {{#with info}}
            <h5>{{sub_title}}</h5>
            <br />
            {{#with detail}}
              <div class='card'>
                <div class='card-body'>
                  <p>{{text}}</p>
                  <br />
                  <div
                    class='btn btn-success'
                  >{{button}}</div>
                  <br />
                </div>
              </div>
            {{/with}}
          {{/with}}
        </div>
        <br />
      {{/with}}
    </div>
  </div>
</div>