<main>
  <div>
    <ul>
      {{#each navigation.links}}
        <a href='{{this.href}}'>{{this.text}}</a>
      {{/each}}

      <a
        class='btn btn-primary'
        href='{{navigation.button.href}}'
      >{{navigation.button.text}}</a>
    </ul>
  </div>
  <hr />
  <br />
  <br />

  <div>
    {{#with header}}
      <h1>{{title}}</h1>
      <p>{{description}}</p>
      {{#with button}}
        <a class='btn btn-primary' href='{{link}}'>
          {{text}}
        </a>
      {{/with}}
    {{/with}}
  </div>
  <hr />
  <br />
  <br />

  <div>
    {{#with city}}
      <h2>{{title}}</h2>
      <div class='row'>
        {{#each cards}}
          <div class='col-5 gy-2'>
            <div class='card'>
              {{#with picture}}
                <img src='{{src}}' src='{{alt}}' />
              {{/with}}
              <div class='card-body'>
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                {{#with button}}
                  <a
                    class='btn btn-primary'
                    href='{{href}}'
                  >
                    {{text}}
                  </a>
                {{/with}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </div>
  <hr />
  <br />
  <br />
  <div>
    {{#with winner}}
      <h2>{{title}}</h2>
      {{#with table}}
        <table class='table'>

          <thead>
            <tr>
              <th>#</th>
              <th>name</th>
              <th>surname</th>
              <th>nickname</th>
            </tr>
          </thead>
          {{#each user}}
            <tbody>
              <tr>
                <th>{{place}}</th>
                <td>{{name}}</td>
                <td>{{surname}}</td>
                <td>{{nickname}}</td>
              </tr>

            </tbody>
          {{/each}}

        </table>

      {{/with}}
    {{/with}}
  </div>
  <br />
  <br />
  <hr />
  <br />
  <br />

  <div class='row'>
    {{#with gallery}}
      <h2>{{title}}</h2>
      <div class='row'>
        {{#each cards}}
          <div class='col-4'>
            <div class='card'>
              <div class='card-header'>
                {{name}}
              </div>
              {{#each items}}
                <ul class='list-group list-group-flush'>
                  <li class='list-group-item'>{{this}}</li>
                </ul>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </div>

</main>