<div>
  {{#with main}}
  <main>
    <section>
      {{> title data="Work history" big=true}}
      <div>
        <ul>
            {{#each works}}
              
                <div class="my-3">
                  <h5>{{position}}</h5></div>
                <div>
                  <b>Company: {{> link text=company.name href=company.url blank=true noLine=true}}</b>
                </div> 
                <div class="my-3">
                  {{duration.from}} - 
                  {{#if duration.to}} 
                    {{duration.to}} 
                  {{else}} 
                    (досі працюю) 
                  {{/if}}
                </div>
                <hr class="my-3">

                <div >
                  <strong>
                  Projects ({{projectAmount}})
                  </strong>
                  <ul>
                    {{#each projects}}
                    
                        <div class="my-3">{{> link text=name href=url blank=true noLine=true}}
                          {{about}}
                          </div>
                        <div class="my-3">
                        <em><h6>Stacks ({{stackAmount}})</h6></em>
                        </div>

                        <div>
                          <ul>
                            {{#each stacks}}
                              <li>
                              {{name}}
                              </li>
                            {{/each}}
                          </ul>
                        </div>

                        <div class="my-3">
                          <em><h6>Awards {{awardAmount}}</h6></em>
                        </div>

                        <div>
                          <ul>
                            {{#each awards}}
                              <li>{{name}}</li>
                            {{/each}}
                          </ul>
                        </div>  
                    
                    {{/each}}
                  </ul>
                </div>
            {{/each}}
        </ul>      
      </div>
    </section>
  </main>
  {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}